{% include "header.html" %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Analiza Potrzeb Klienta</h1>
                <h2>Dopasujemy najlepszą ofertę do twoich potrzeb!</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="{{url_for('test')}}" class="btn-get-started scrollto">Zaczynamy?</a>

                </div>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="static/img/insur_intro.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">


                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mx-auto">
                    <img src="static/img/insur_login.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mx-auto">
                    <img src="static/img/compensa-sp.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mx-auto">
                    <img src="static/img/generali-sp.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mx-auto">
                    <img src="static/img/pzu-sp.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center mx-auto">
                    <img src="static/img/insur_login.png" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Cliens Section -->




{% include "footer.html" %}
