{% include "header.html" %}


<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Sukces</h1>
                <h2>Twoja analiza potrzeb klienta została skończona!</h2>
            </div>

            <div class="col-lg-5 order-1 order-lg-2  " data-aos="zoom-in" data-aos-delay="200">

                <img src="static/img/succes.png" class="img-fluid animated " alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


{% include "footer.html" %}
