<!-- ======= Services Section ======= -->

<form action="#" method="post">

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Analiza Potrzeb Klienta</h2>
            <p>Czego ubezpieczeniem jesteś zainteresowany?</p>
        </div>

        <div class="row">


                <div class="col-xl-4 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-car"></i></div>
                        <h4><a href="">Pojazd</a></h4>

                        <div class="p-3 mb-2 bg-secondary text-white radiot">
                            <fieldset id="group1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="pojazd" id="inlineRadio1"
                                           value="1" required>
                                    <label class="form-check-label">Tak</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="pojazd" id="inlineRadio2"
                                           value="0" required>
                                    <label class="form-check-label">Nie</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="pojazd" id="inlineRadio3"
                                           value="2" required>
                                    <label class="form-check-label">W przyszłości</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-house-chimney"></i></div>
                        <h4><a href="">Dom/Mieszkanie</a></h4>

                        <div class="p-3 mb-2 bg-secondary text-white radiot">
                            <fieldset id="group2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dom" id="inlineRadio4"
                                           value="1" required>
                                    <label class="form-check-label">Tak</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dom" id="inlineRadio5"
                                           value="0" required>
                                    <label class="form-check-label">Nie</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="dom" id="inlineRadio6"
                                           value="2" required>
                                    <label class="form-check-label">W przyszłości</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-umbrella-beach"></i></div>
                        <h4><a href="">Podróż</a></h4>

                        <div class="p-3 mb-2 bg-secondary text-white radiot">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="podroz" id="inlineRadio7"
                                       value="1" required>
                                <label class="form-check-label">Tak</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="podroz" id="inlineRadio8"
                                       value="0" required>
                                <label class="form-check-label">Nie</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="podroz" id="inlineRadio9"
                                       value="2" required>
                                <label class="form-check-label">W przyszłości</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-heart"></i></div>
                        <h4><a href="">Życie</a></h4>
                        <div class="p-3 mb-2 bg-secondary text-white radiot">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="zycie" id="inlineRadio10"
                                       value="1" required>
                                <label class="form-check-label">Tak</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="zycie" id="inlineRadio11"
                                       value="0" required>
                                <label class="form-check-label">Nie</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="zycie" id="inlineRadio12"
                                       value="2" required>
                                <label class="form-check-label">W przyszłości</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-wheat-awn"></i></div>
                        <h4><a href="">Rolne</a></h4>

                        <div class="p-3 mb-2 bg-secondary text-white radiot">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rolne" id="inlineRadio13"
                                       value="1" required>
                                <label class="form-check-label">Tak</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rolne" id="inlineRadio14"
                                       value="0" required>
                                <label class="form-check-label">Nie</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rolne" id="inlineRadio15"
                                       value="2" required>
                                <label class="form-check-label">W przyszłości</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="fa-solid fa-building"></i></div>
                        <h4><a href="">Firma</a></h4>
                        <div class="p-3 mb-2 bg-secondary text-white radiot">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="firma" id="inlineRadio16"
                                       value="1" required>
                                <label class="form-check-label" for="inlineRadio1">Tak</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="firma" id="inlineRadio17"
                                       value="0" required>
                                <label class="form-check-label">Nie</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="firma" id="inlineRadio18"
                                       value="2" required>
                                <label class="form-check-label">W przyszłości</label>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
        <section id="pad">
            <div class="row">


                <input type="submit" name="nm" value="Przejdz dalej" class="btn btn-primary btn-lg btn-block"/>


            </div>
        </section>

    </div>
</section><!-- End Services Section -->
</form>
