<!-- ======= Services Section ======= -->
{% block content %}


<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Dom/Mieszkanie</h2>
            <p>Jakimi produktami jesteś zainteresowany?</p>
        </div>

        <div class="row">


            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-house-fire"></i></div>
                    <div class="insurtext">
                        <h4> Pożar</h4>
                        <p>Ubezpieczenie od pożaru</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Dom_Pożar" id="inlineRadio1"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-person-through-window"></i></div>
                    <div class="insurtext">
                        <h4> Kradzież</h4>
                        <p>Ubezpieczenie od kradzieży</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Dom_Kradzież" id="inlineRadio2"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-house-circle-check"></i></div>
                    <div class="insurtext">
                    <h4> All Risk</h4>
                        <p>Ubezpieczenie w formule All Risk</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Dom_AllRisk" id="inlineRadio3"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-house-chimney"></i></div>
                    <div class="insurtext">
                    <h4> OC</h4>
                        <p>Ubezpieczenie OC mieszkania
                        </p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Dom_OC" id="inlineRadio4"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</section><!-- End Services Section -->

{% endblock %}