<!-- ======= Services Section ======= -->
{% block content %}


<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Firma</h2>
            <p>Jakimi produktami jesteś zainteresowany?</p>
        </div>

        <div class="row">


            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-fire-extinguisher"></i></div>
                    <div class="insurtext">
                    <h4>Pożar</h4>
                         <p>Ubezpieczenie od pożaru</p>
                     </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="firma_pozar" id="firma_pozar"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-user-ninja"></i></div>
                     <div class="insurtext">
                    <h4>Kradzież</h4>
                         <p>Ubezpieczenie od kradzieży</p>
                     </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="firma_kradziez" id="firma_kradziez"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-building"></i></div>
                        <div class="insurtext">
                    <h4>All Risk</h4>
                         <p>Ubezpieczenie w formule All Risk</p>
                     </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="firma_allrisk" id="firma_allrisk"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-person-shelter"></i></div>
                      <div class="insurtext">
                    <h4>OC</h4>
                         <p>Ubezpieczenie działalności gospodarczej</p>
                     </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="firma_oc" id="firma_oc"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-plug-circle-check"></i></div>
                       <div class="insurtext">
                    <h4>Elektronika</h4>
                         <p>Ubezpieczenie sprzętu elektronicznego</p>
                     </div>

                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="firma_elektronika" id="firma_elektronika"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Services Section -->

{% endblock %}