<!-- ======= Services Section ======= -->
{% block content %}


<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Podróż</h2>
            <p>Jakimi produktami jesteś zainteresowany?</p>
        </div>

        <div class="row">


            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-globe"></i></div>
                    <div class="insurtext">
                        <h4> Świat</h4>
                        <p>Ubezpiecznie na całym świecie</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_Świat" id="Podróż_Świat"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-earth-europe"></i></div>
                    <div class="insurtext">
                        <h4>Europa</h4>
                        <p>Ubezpieczenie na terenie Europy</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_Europa" id="Podróż_Europa"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-book-atlas"></i></div>
                    <div class="insurtext">
                        <h4> Turystyka</h4>
                        <p>Ubezpiecznie turystyczne</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_Turystyka" id="Podróż_Turystyka"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mx-auto mt-4 mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-person-running"></i></div>
                    <div class="insurtext">
                        <h4> Sport</h4>
                        <p>Ubezpieczenie sportowe</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_Sport" id="Podróż_Sport"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-hospital-user"></i></div>
                    <div class="insurtext">
                        <h4> KL</h4>
                        <p>Ubezpieczenie kosztów leczenia</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_KL" id="Podróż_KL"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-user-injured"></i></div>
                    <div class="insurtext">
                        <h4> NNW</h4>
                        <p>Następstwo nieszczęśliwych wypadków</p>
                    </div>

                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_NNW" id="Podróż_NNW"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-people-arrows-left-right"></i></div>
                    <div class="insurtext">
                        <h4> OC</h4>
                        <p>Odpowiedzialność Cywilna</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_OC" id="Podróż_OC"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-person-hiking"></i></div>
                    <div class="insurtext">
                        <h4>ASS</h4>
                        <p>Assistance w podróży</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_ASS" id="Podróż_ASS"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                     <div class="icon"><i class="fa-solid fa-boxes-packing"></i></div>

                    <div class="insurtext">
                        <h4> Bagaż</h4>
                        <p>Ubezpieczenie bagażu</p>
                    </div>

                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_Bagaż" id="Podróż_Bagaż"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mx-auto mt-xl-0 pad" data-aos="zoom-in"
                 data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-person-digging"></i></div>
                    <div class="insurtext">
                    <h4> Praca</h4>
                    <p>Ubezpieczenie w pracy</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Podróż_Praca" id="Podróż_Praca"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->

{% endblock %}