<!-- ======= Services Section ======= -->
{% block content %}


<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Życie</h2>
            <p>Jakimi produktami jesteś zainteresowany?</p>
        </div>

        <div class="row">


            <div class="col-xl-3 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad mx-auto" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
                     <div class="insurtext">
                    <h4>Ochrona</h4>
                    <p>Ochrona życia</p>
                     </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Życie_Ochrona" id="Życie_Ochrona"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad mx-auto" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-piggy-bank"></i></div>
                     <div class="insurtext">
                    <h4> Oszczędzanie</h4>
                         <p>Ubezpieczenie oszczędnościowe</p>
                     </div>

                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Życie_Oszczedzanie" id="Życie_Oszczedzanie"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad mx-auto" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-person-circle-check"></i></div>
                    <div class="insurtext">
                    <h4> Indywidualne</h4>
                    <p>Polisa życiowa</p>
                    </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Życie_Indywidualne" id="Życie_Indywidualne"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad mx-auto" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-children"></i></div>
                    <div class="insurtext">
                    <h4>Rodzinne</h4>
                    <p>Ubezpieczenie chroniące rodzinę</p>
                    </div>

                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Życie_Rodzinne" id="Życie_Rodzinne"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center mt-4 mt-xl-0 pad mx-auto" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-people-group"></i></div>
                     <div class="insurtext">
                    <h4> Grupowe</h4>
                         <p>Ubezpieczenie grupowe</p>
                     </div>
                    <div class="p-3 mb-2 bg-secondary text-white radiot">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Życie_Grupowe" id="Życie_Grupowe"
                                   value="1">
                            <label class="form-check-label">Tak</label>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Services Section -->

{% endblock %}